<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Add Event</title>
</head>
<body>
  <div layout:fragment="content">
	  <form action ="#" th:action="@{eventSubmit}" th:object="${event}" method="post">
	  	<div class="form-section">
	  		<label>Event name</label>
	  		<input type="text" th:field="${event.name}" id="name" name="name" placeholder="Enter event name" required>
	  	</div>
	  	<div class="form-section">
	  		<label>Event Date</label>
	  		<input type="date" th:field="${event.date}" required>
	  	</div>
	  	<div class="form-section">
	  		<label>Event Time</label>
	  		<input type="time" th:field="${event.time}" required value="12:00">
	  	</div>
	  	<div class="form-section">
  			<label>Event Venue</label>
  			<select th:field="${event.venue}" class="form-control">
    			<option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}"></option>
  			</select>
		</div>
	  	<button type="submit">Submit</button>
	  </form>
  </div>
</body>
</html>
