<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8"/>
  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <title>Add Event</title>
</head>
<body>
  <div layout:fragment="content">
	  <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
	  <form action ="#" th:action="@{eventSubmit}" th:object="${event}" method="post">
	  	<br>
	  	<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
	  		<label for="name">Event name:</label>
	  		<input class="form-control" type="text" th:field="${event.name}" id="name" name="name" maxlength="256" placeholder="Enter event name" required>
	  		<p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
	  	</div><br>
	  	<div class="form-group" h:classappend="${#fields.hasErrors('date')}? has-error">
	  		<label>Event Date:</label>
	  		<input class="form-control" type="date" name="date" id="date" th:field="${event.date}" required>
	  		<span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</span>
	  	</div><br>
	  	<div class="form-group" th:classappend="${#fields.hasErrors('time')}? has-error">
	  		<label>Event Time:</label>
	  		<input class="form-control" type="time" th:field="${event.time}">
	  		<p class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</p>
	  	</div><br>
	  	<div class="form-group">
  			<label>Event Venue:</label>
  			<select th:field="${event.venue}" class="form-control">
    			<option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}"></option>
  			</select>
		</div><br>
		<div class="form-group" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label for="description">Event description: </label>
        <textarea class="form-control" rows="3" th:field="${event.description}"></textarea>
        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</p>
      </div>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	  </form>
  </div>
</body>
</html>
