<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div layout:fragment="content">

  	<h1>Search Event By Name</h1>
  	<form class="form-inline" th:action="@{/events}" th:method="get">
  	  <div class="form-group">
	    <label class="sr-only" for="eventInfix">Search Event By Name</label>
	    <input type="text" class="form-control" name="name" id="eventInfix" placeholder="Name">
	  </div>
	  <button type="submit" class="btn btn-default">Search</button>
	</form>

    <td sec:authorize="isAuthenticated()">
		<a href="events/addEvent"><button class="btn btn-info">Add Event</button></a>
		<a href="venues/addVenue"><button class="btn btn-info">Add Venue</button></a>
    </td>

    <h2 class="mb-2">Future events:</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><i class="fas fa-bolt"></i> Event</th>
          <th><i class="fas fa-map-marker-alt"></i> Venue</th>
          <th><i class="fas fa-calendar"></i> Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
          <th sec:authorize="isAuthenticated()"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${futureEvents}">
          <td><a th:href="'event/' + ${e.id}" th:text="${e.name}"> My Event </a></td>
          <td><a th:href="'venue/' + ${e.venue.id}" th:text="${e.venue.name}">Event venue</a></td>
          <td th:text="${{e.date}}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
          <td sec:authorize="isAuthenticated()">
            <form th:action="@{/events/updateEvent/{eventId}(eventId=${e.id})}" method="get">
              <button type="submit" class="btn btn-info btn-sm">Update</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

      <h2 class="mb-2">Past events:</h2>
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th><i class="fas fa-bolt"></i> Event</th>
              <th><i class="fas fa-map-marker-alt"></i> Venue</th>
              <th><i class="fas fa-calendar"></i> Date</th>
              <th><i class="fas fa-clock"></i> Time</th>
              <th sec:authorize="isAuthenticated()"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="e : ${pastEvents}" >
              <td><a th:href="'event/' + ${e.id}" th:text="${e.name}"> My Event </a></td>
              <td><a th:href="'venue/' + ${e.venue.id}" th:text="${e.venue.name}">Event venue</a></td>
              <td th:text="${{e.date}}">Event date</td>
              <td th:text="${{e.time}}">Event time</td>
              <td sec:authorize="isAuthenticated()">
                  <form th:action="@{/events/updateEvent/{eventId}(eventId=${e.id})}" method="get">
                      <button type="submit" class="btn btn-info btn-sm">Update</button>
                  </form>
              </td>
          </tr>
        </tbody>
      </table>

      <div id='map' style='height: 30rem;'></div>
      <script th:inline="javascript">
          const events = [[${futureEvents}]];

          const venues = {};
          for (const event of events) {
              if (venues[event.venue.id]) {
                  venues[event.venue.id].push(event);
              } else {
                  venues[event.venue.id] = [event];
              }
          }

          mapboxgl.accessToken = "pk.eyJ1Ijoic2RhY29zdGExMyIsImEiOiJja21wMm45bzIyYWhkMnBwZnQ1Yzg0Zm8xIn0.mbzmSCCHSGvuxW3_DCxJYg";
          const map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/streets-v11'
          });

          const bounds = [];
          for (const events of Object.values(venues)) {
              const venue = events[0].venue;

              const coords = [venue.longitude, venue.latitude];
              new mapboxgl.Marker()
                  .setLngLat(coords)
                  .addTo(map);

              bounds.push(coords);
          }

          map.fitBounds(bounds, { padding: 50 });
      </script>
  </div>

</body>
</html>
