<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
  <title>Event Information</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div layout:fragment="content">
	  
    <h1 th:text="${event.name}">Event Name</h1>

    <i th:text="${event.date} + ', ' + ${event.time}">Event Date and Time</i><br>
    <a th:href="'/venue/' + ${event.venue.id}" th:text="${event.venue.name}">Venue Name</a><br>
    <p th:text="${event.description}">Event Description</p><br>

    <form th:action="@{/events/{id}(id=${event.id})}" th:method="delete" sec:authorize="isAuthenticated()">
      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>
    </form>
    
    <h2>Share the event!</h2>
    
    <form th:action="@{{id}/tweetSubmit(id=${event.id})}" th:object="${message}" method="post">
    	<input class="form-control" type="text" th:field="${message}" id="message" name="message" maxlength="280" placeholder="Message here!" required>
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <div id='map' style='width: inherit; height: 300px;'></div>
    	<script th:inline="javascript">
    		var lon = [[${event.venue.longitude}]];
    		var lat = [[${event.venue.latitude}]];
    		mapboxgl.accessToken = "pk.eyJ1Ijoic2RhY29zdGExMyIsImEiOiJja21wMm45bzIyYWhkMnBwZnQ1Yzg0Zm8xIn0.mbzmSCCHSGvuxW3_DCxJYg";
    		var map = new mapboxgl.Map({
    		container: 'map',
    		style: 'mapbox://styles/mapbox/streets-v11',
    		center: [lon, lat],
    		zoom: 14
    		});
    		
    		var marker1 = new mapboxgl.Marker()
    			.setLngLat([lon, lat])
          .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML('<h5>' + [[${event.name}]] + '</h5><p>' + [[${event.time}]] + '</p>'))
    			.addTo(map);
    	</script>
    </div>

</body>
</html>
