<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8"/>
  <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <title>Update event</title>
</head>
<body>
  <div layout:fragment="content">
    <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>

    <form action="#" th:action="@{/events/updateEvent}" th:object="${event}" method="post">
      <!-- 
          The id of the object that will be sent via post
          from here needs to be same as the id of the event
          attribute in the model in order to successfully update
          the record. Otherwise, new record will be created.
      -->
      <input type="hidden" th:field="${event.id}"/>

      <div class="form-group has-error has-feedback" th:classappend="${#fields.hasErrors('name')}? has-error">
        <label class="control-label" for="name">Event name: </label>
        <input class="form-control" type="text" name="name" id="name" th:field="${event.name}" autofocus="autofocus" />

        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</span>
      </div><br>

      <!-- 
          'field' is the field (attribute) of the ojbect to which this
          venue is linked.
      -->
      <div class="form-group">
        <label class="control-label" for="venue">Event Venue: </label>
        <select class="form-control selectpicker" th:value="${event.venue.id}" th:field="${event.venue}">
          <option th:each="v : ${venues}" th:value="${v.id}" th:text="${v.name}"></option>
        </select>
      </div><br>

      <div class="form-group has-error has-feedback" th:classappend="${#fields.hasErrors('date')}? has-error">
        <label class="control-label" for="date">Event date: </label>
        <input class="form-control" type="date" name="date" id="date" th:field="${event.date}" autofocus="autofocus" />

        <span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">errors</span>
      </div><br>

      <div class="form-group has-error has-feedback" th:classappend="${#fields.hasErrors('time')}? has-error">
        <label class="control-label" for="time">Event time: </label>
        <input class="form-control" type="time" name="time" id="time" th:field="${event.time}" autofocus="autofocus"/>
        <span class="text-danger" th:if="${#fields.hasErrors('time')}" th:errors="*{time}">errors</span>
      </div><br>

      <div class="form-group has-error has-feedback" th:classappend="${#fields.hasErrors('description')}? has-error">
        <label class="control-label" for="description">Event description: </label>
        <textarea class="form-control" rows="3" th:field="${event.description}"></textarea>
        <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">errors</span>
      </div>

      <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-field="true"></i> Update </button>
    </form>
  </div>
</body>
</html>
